body{
    font-family: 'Gentium Book Plus', serif;
    margin: 0;
}
.top-header{
    text-align: center;
    color: white;
    font-size: 40px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;
    background-image: url(donate-today-main/images/donation12.png);
    height: 700px;
    width: 100%
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(rgb(19, 71, 245), rgb(122, 184, 235));
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 30px;
    color: white;
    font-weight: 700;
}
.second-header{
    text-align: center;
    font-size: 40px;
    margin-top: 100px;
}
.left-right-padding{
    padding-left: 10%;
    padding-right: 10%;
}
.flexible-section{
    display: flex;
    margin-bottom: 100px;
    justify-content: space-between; 
    
}
.bdt{
    margin-left: 5%;
    margin-right: 5%;
    box-shadow: 10px 10px 40px rgb(79, 156, 245);
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    padding-top: 20px;
}
.other-amount-email{
    text-align: center;
    font-size: 40px;
}
.text-in-center{
    text-align: center;
    font-size: 40px;
}
#top-margin{
    margin-top: 100px;
}
#food{
    margin-left: 5%;
    margin-right: 5%;
    border: 5px solid white;
    background-color: rgb(162, 245, 162);
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    padding-top: 20px; 
}
#shelter{
    margin-left: 5%;
    margin-right: 5%;
    border: 5px solid white;
    background-color: rgb(245, 177, 245);
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    padding-top: 20px; 
}
#education{
    margin-left: 5%;
    margin-right: 5%;
    border: 5px solid white;
    background-color: rgb(236, 149, 149);
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    padding-top: 20px; 
}
.half-width{
    width: 50%;
    padding-left: 5%;
    padding-top: 2%;
    margin-bottom: 100px;
}
.half-width img{
    width: 80%;
}
.distance-from-link-button{
    padding-bottom: 40px;
}
.text-in-left{
    text-align: left;
    font-size: 30px;  
}
.text-in-right{
    text-align: right;
    font-size: 30px;
    padding-right: 5%;
}
#advertisement-partner{
    text-align: center;
    background-image: url(donate-today-main/mine/7.png);
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 100px;
}
#advertisement-partner h1{
    font-size: 50px;
}
#advertisement-partner h2{
    font-size: 40px;
}
#advertisement-partner h3{
    font-size: 30px;
}
#email-border{
    border: 5px solid white;
    background-color: pink;
    margin-bottom: 100px;
}
footer{
    text-align: center;
    color: white;
    background-color: black;
}
#be-helpful-color{
    color: chartreuse;
}